src/main/resources/config.properties
config/credentials/*
target/
logs

# Eclipse core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# maven related
.factorypath
.settings

.DS_Store
*/.DS_Store
